{% load static %}
{% include "navbar.html" %}

<html>
    <head>
        <title>Comms-ee</title>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
    </body>
</html>