<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="/">
            <h1>Logo</h1>
        </a>

        <form method="GET" action="{% url 'homepage' %}">
            <input type="text" name="q" placeholder="Search to Get Cosy"/>
        </form>

        {% if request.user.is_authenticated %}
            <p>Welcome {{ request.user }}! I hope you are having a nice time!!</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        <hr/>

        <script src="" async defer></script>
    </body>
</html>